@import '_reset.scss';
@import '_variable.scss';
@import '_global.scss';
@import '_extends.scss';

.navigation{
    @extend %flex-row-sb;
    padding:25px $section-padding-ltr;
    background:rgba(0,0,0,0.7);
    position:fixed;
    top:0;
    left:0;
    width:100%;
    z-index:2;
    border-bottom:1px solid $color-theme;
    & .navigation-logo{
        font-size:3em;
        font-weight:bold;
    }
    & .nav-dropdown-close{
        display:none;
    }
    & .navigation-menu{
        & ul li {
            padding:10px;
            & a{
                padding:5px 0;
            }
        }
    }
    & .navigation-toggle{
        color:$color-theme;
        display:none;
    }
}

section{
    @extend %section;
    & .about-content{
        padding:25px 0;
        @extend %flex-row-fs;
        & .about-item {
            & img {
                padding-right:25px;
                width:100%;
                height:auto;
            }
            &:last-child{
                @extend %flex-column-center;
            }
            & .about-item-content{
                padding:25px 0;
                & h3{
                    @extend %color-link-linear-theme;
                    font-size:1.5em;
                }
            }
        }
    }
    & .gallery-content {
        display:flex;
        @extend %flex-wrap;
        padding:25px 4px;
        & .gallery-item{
            flex:25%;
            max-width: 50%;
            padding:0 4px;
            & img {
                margin-top:8px;
                vertical-align: middle;
            }
        }
    }
    & .testimonial-content{
        @extend %flex-row-center;
        @extend %flex-wrap;
        padding:25px 0;
        & .testimonial-item{
            background:white;
            padding:10px;
            text-align:center;
            max-width:25%;
            margin-left:25px;
            & img {
                width:100px;
                height:100px;
                border:2px solid $color-theme;
                border-radius:100%;
            }
            & h4{
                color:$color-theme;
                font-weight:bold;
            }
            & p{
                text-align:justify;
                border-top:1px solid $color-theme;
                opacity:0.7;
                &:before,&:after{
                    content:' " ';
                    font-weight:bold;
                }
            }
        }
    }
    & .contact-content{
        @extend %flex-row-sb;
        @extend %flex-wrap;
        padding:25px 0;
        & .contact-item{
            width:50%;
            & .list-contact{
                padding:10px 0;
                & a{
                    padding:0 5px;
                }
            }
            & h4 {
                font-weight:bold;
                font-size:1.2em;
            }
            & form{
                & input, & textarea, & button{
                    width:100%;
                }
            }
        }
    }
}

footer{
    background:black;
    color:white;
    text-align:center;
    padding:$section-padding-ltr 0;
}

@import 'responsive.scss';